/* MEDIA QUERIE - PRINT TO PDF */
@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  body {
    margin: 0;
    width: 100%;
  }
  .myContactsAndNavigation {
    margin-bottom: 0;
  }
  .prtf,
  a,
  .btnLang,
  .printPDFbtn,
  .btn,
  footer {
    display: none !important;
    visibility: hidden !important;
  }
}
/*  */
/*  */
/* @media screen and (max-width: 900px) {
  .meJuniorWeb {
    margin-left: -10%;
  }
} */
@media screen and (max-width: 700px) {
  .meJuniorWeb {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .aboutMeTitle,
  .mainSentence {
    font-size: 1.6rem;
  }
  .aboutMeTxt {
    font-size: 1.2rem;
  }
  .mainTitle {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 1.3rem;
  }
  .regularTitle {
    font-size: 1.1rem;
  }
  /* .contentText {
    font-size: 1.2rem;
  } */
  /* *** */
  .onG {
    font-size: 1.1rem;
    margin-left: 2rem;
  }
}
/*  */
@media screen and (max-width: 500px) {
  aside {
    display: none;
  }
  .bigBlocksContainer {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media screen and (max-width: 480px) {
  .aboutMeTitle,
  .mainSentence {
    font-size: 1.4rem;
  }
  .pdfBtnContainer {
    margin-top: 3rem;
  }
  .printPDFbtn,
  .btn {
    width: 3rem;
    height: 3rem;
  }

  .btn-p {
    display: none;
  }
  .btnquery {
    display: block;
  }
  .onMobileNone,
  .mobileNone,
  /* .btn, */
  /* .btnLang, */
  /* .printPDFbtn */ {
    display: none;
  }
  .myContactsAndNavigation {
    height: 2rem;
  }
  .datesQueryMobile {
    display: block;
  }
}
/*  */
@media screen and (max-width: 430px) {
  .miniMobileNone {
    display: none;
  }
}
/*  */
@media screen and (max-width: 330px) {
  .lastQueryNone,
  .mainSentence {
    display: none;
  }
  .mainSentenceMobile {
    display: block;
  }
}
